/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
=======
/public/storage
Homestead.yaml
Homestead.json

vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example
.idea
.phpintel
Vagrantfile
.vagrant
*.lock
